*{
	margin: 0px;
}

/*navigation*/
body> header> nav> ul{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

ul{
	list-style-type: none;
}

li{
	padding: 15px;
}

ul li a{
	text-decoration: none;
	color: black;
}


h1{
	font-family: "Ubuntu";
	color: #0783C8;
	font-size: 2em;
	text-align: center;
}

/*homepage*/
#about{
	display: flex;
	flex-direction: column;
	align-items: center;
}

p{
	display: flex;
	font-family: "Nunito";
	font-size: 15px;
	width: 12em;
}

.portfolio{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-content{
	background-color: pink;
	height: 150px;
	width: 150px;
	display: flex;
	padding: 15px;
	margin: 10px;
}

.click{
	display: flex;
	justify-content: center;
	text-decoration:none;
	margin: 5px;
}

.button{
	display: flex;
	justify-content: center;
	background-image: linear-gradient(90deg, #FF9DC0, #FFEC89);
	border-style: none;
	color: white;
	padding: 5px;
	width: 80px;
	font-family: "Ubuntu";
}

/*.fascinatie > .content > a{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 10px;
}

.fascinatie > .content > a > img{
	width: 40%;
}*/

/*fotografie*/
.infofascinatie{
	display: flex;
	justify-content: center;
}

.title{
	display: flex;
	justify-content: center;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.content a{
	display: flex;
	justify-content: center;
	margin: 20px;
}

.content a img{
	width: 80%;
}

.hide{
	display: none;
}

@media screen and (min-width: 1000px) {
	p{
		display: flex;
		font-family: "Nunito";
		font-size: 30px;
		width: 25em;
	}

	.content {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.content a img{
		margin: 0px;
	}

	.portfolio{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.portfolio-content{
		height: 250px;
		width: 250px;
		display: flex;
		padding: 15px;
		margin: 10px;
	}

	.portfolio-content img{
		height: 250px;
		width: 250px;
	}
}