*{
	margin: 0px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body{
	font-family: "Poppins", sans-serif;
}

/*navigation*/
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #0783C8;
	height: 8vh;
}

nav .nav-links li:hover {
	background: #FF9DC0;
	font-weight: bold;
}

nav .nav-links li a {
	display: block; 
	padding: 1rem;
	text-decoration: none;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	font-size: 1.3rem;
	width: 100%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	text-decoration: none;
	color: white;
}

.headerimage{
	width: 100%;
}

.topleft{
	position: absolute;
  	top: 4rem;
  	width: 50%;
}

h1{
	font-family: "Hind", sans-serif;
	color: #0783C8;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 0.1rem;
	margin-top: 3rem;
}

h2{
	font-family: "Hind", sans-serif;
	color: #FF9DC0;
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 0.1em;
	margin-top: 25px;
}

.txt{
	color: #0783C8;
}

main{
	margin-bottom: 2em;
}

h3{
	color: #FF9DC0;
	font-size: 1.5em;
}

p{
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	width: 18rem;
}

/*homepage*/
#about{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleheader{

}

.portfolio{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio-content{
	background-color: pink;
	height: 15rem;
	width:	15rem;
	display: flex;
	align-items:  center;
	flex-direction: column;
	padding: 2rem;
	margin: 1rem;
	border-radius: 2rem;
}

.portfolio-content a{
	width: 100%;
}

.portfolio-content a img{
	width: 100%;
}

.titleportfolio{
	display: flex;
	justify-content: center;
	color: white;
	margin-bottom: 0.5rem;
	width: 100%;
}

.click{
	display: flex;
	justify-content: center;
	text-decoration:none;
	color: white;
	font-size: 1.2rem;
	background-image: linear-gradient(90deg, #FF9DC0, #FFEC89);
	padding: 0.5rem;
	width: 10rem;
	border-radius: 1rem;
	margin: 1rem;
}

.click:hover{
	background-image: linear-gradient(90deg, #FFEC89, #FF9DC0);
	color: black;
}

.contact a{
	margin: 1rem;
}


/*overmij*/
.me{
	width: 50%;
	margin-top: 2rem;
}

.containerp{
	margin-bottom: 1rem;
}

.subhead{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 30rem;
}

.subhead h2{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

.summary{
	display: flex;
	flex-direction: column;
	align-items: center;
}

iframe{
	width: 30rem;
	height: 20rem;
	margin: 2rem;
}

.video{
	display: flex;
	justify-content: center;
}

/*project*/
.headerfotografie{
	width: 100%;
}

.info{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.headerproject{
	width: 100%;
}

/*fotografie*/
.infofotografie{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.title{
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.content {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content a{
	display: contents;
	margin: 2em;
}

.content a img{
	width: 70%;
	height: 100%;
	margin: 1rem;
}

.extrastyle{
	margin-top: 1em;
}

.extracontent a{
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.extracontent a img{
	width: 50%;
}

.hide{
	display: none;
}

.extrahide{
	margin: 0em;
}

/*user experience*/
.basic{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.paragraph{
	width: 15em;
}

.experiencemap{
	width: 50%;
	margin: 2em;
}

.experience{
	display: flex;
	justify-content: center;
}

.contact{
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contact-content{
	display: flex;
	flex-direction: column;
}

.concept{
	width: 70%;
}

.concepts a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.prototype{
	text-decoration: none;
	color: #0783C8;
	font-size: 1.1em;
	font-weight: bold;
	margin: 1em;
}

.headerdesignux{
	display: flex;
	align-items: center;
	width: 100%;
}

.contactportfolio{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2em;
}


@media screen and (min-width: 1000px) {
	/*navigation*/
		.nav-links{
		display: flex;
		justify-content: space-around;
		font-size: 1.3em;
		width: 100%;
	}
	nav .nav-links li a {
		display: block; 
		padding: 0.8em 5em;
		text-decoration: none;
	}

	p{
		display: flex;
		font-family: "Poppins", sans-serif;
		font-size: 1.2rem;
		width: 40em;
	}

	/*home*/
	.subhead{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 30rem;
}

.subhead h2{
	display: flex;
	justify-content: space-between;
	margin: 1rem;
}

	/*overmij*/
	.me{
		width: 30%;
		margin-top: 2rem;
	}

	.summary{
	display: flex;
	flex-direction: row;
	align-items: center;
}
	
	iframe{
	width: 45rem;
	height: 30rem;
	margin: 2em;
}


	/*home*/
	.topleft{
		 position: absolute;
  		top: 8rem;
  		width: 50%;
	}

	.topleft h1{
		font-size: 2.5rem;
	}

	.portfolio{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-bottom: 5rem;
	}

	.portfolio-content{
			height: 20em;
			width: 20em;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 2rem;
			margin: 2rem;
	}

	.contact-content{
		display: flex;
		align-items: center;
		flex-direction: row;
	}

	.contact-content a{
		margin: 1rem;
	}

	/*project*/
	.headerproject{
	width: 100%;
}

	/*fotografie*/
	.content {
		display: flex;
		justify-content: center;
		flex-direction: row;
	}

	.content a{
		display: contents;
		margin: 2em;
	}

	.content > a > .hide{
		display: none;
	}

	.content a img{
		width: 25%;
		margin: 2rem;
	}

	.extracontent a{
		display: flex;
		justify-content: center;
		margin: 20px;
	}

	.extracontent a img{
		width: 30%;
	}

	.hide{
		display: none;
	}

	.title{
		display: flex;
		justify-content: center;
	}

	/*User experience*/
	.concept{
		width: 55%;
	}

	.headerdesignux{
	display: flex;
	align-items: center;
	width: 100%;
}

}
	